body, html {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #000;
  background: #eef5f9;
}
.container{
	width: 850px;
	padding-top:32px;
	margin: 0 auto;
	height:400px;
}
.container .intro{
	font-size:24px;
	margin: 0 10px 30px;
	color: #676c73;
}
.content{
	margin-top:24px;
}
.box{
	display: inline-block;
	vertical-align:top;
	width: 260px;
	border-radius: 5px;
	min-height:180px;
	background: #fff;
	margin: 0 10px 30px;
	box-sizing: border-box;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform,box-shadow;
    transition-property: transform,box-shadow;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.opt{
	padding: 12px;
	display: inline-block;
	vertical-align:top;
	border-radius: 5px;
	height:160px;
	width: 42%;
	background-color: #fff;
	margin: 0 10px 30px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.box img{
	border-radius: 5px;
}
.box:hover{
	-webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 20px 25px rgba(0,0,0,.15);
}

input{
	border: 1px solid #cccedb;
    outline: 0;
    color: #3c3c3c;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    border: 1px solid #cccedb;
    line-height: 19px;
    border-radius: 2px;
    height: 28px;
}

select{
	background: #fff;
	padding: 5px 10px 5px 10px;
    border: 1px solid #cccedb;
    line-height: 19px;
}

button{
	margin-top:12px;
	background-color: #b6be00;
	font-size: 14px;
    padding: 7px 24px 5px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.title, .address, .checkinsCount, .rating {
	padding: 16px;
}

.checkinsCount, .rating {
	color: #b6be00;
}

@media only screen and (max-device-width: 768px){
	.container{
		width: 100%;
		padding-top:32px;
		margin: 0 auto;
	}
	.box{
		width: 360px;
	}
}

@media only screen and (max-device-width: 480px){
	.container{
		width: 88%;
		padding-top:32px;
		margin: 0 auto;
	}
	.box{
		width: 260px;
	}
}
